# Virtualenv
venv/

# Python specific, Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]

# PyCharm
.idea/

# VS Code
.vscode/*
!.vscode/launch.json

# Installer logs
pip-log.txt

# OSX
.DS_Store

# SQL-Files
*.sql

# Log files
*.log

# Tmp folders
tmp
temp

# Node
node_modules

# Docker
docker/config/db.env
docker/config/web.env
docker/config/db_backup.env
docker/files/certs/*
!docker/files/certs/.gitkeep

# Environment
src/.env

# Static folder
src/static
src/media
src/core/static/core
!src/core/static/core/.gitkeep

# Pytest
.cache

# Code Coverage
htmlcov
.coverage

# Mypy
.mypy_cache
