# Virtualenv
venv/

# Python specific, Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Installer logs
pip-log.txt

# OSX
.DS_Store

# SQL-Files
*.sql

# Tmp folders
tmp
temp

# Docker
docker/config/db.env
docker/config/web.env
docker/config/db_backup.env
docker/files/dump-dumps/*
docker/files/var/log/*

# Environment
src/.env

# Static folder
src/static
src/media
