# Virtualenv
venv/

# Python specific, Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Installer logs
pip-log.txt

# OSX
.DS_Store

# SQL-Files
*.sql

# Log files
*.log

# Tmp folders
tmp
temp

# Docker
docker/config/db.env
docker/config/web.env
docker/config/db_backup.env

# Environment
src/.env

# Static folder
src/static
src/media

# Pytest
.cache

# Code Coverage
htmlcov
.coverage
