
{% load static %}
{% load cache %}
{% load react %}
{% load wagtailuserbar %}
{% load create_react_app %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% with site_setting=settings.sitesettings.SiteSetting %}
            {% if site_setting.gtm_id and not request.is_preview %}
                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{site_setting.gtm_id}}');</script>
                <!-- End Google Tag Manager -->
            {% endif %}

            {% if site_setting.google_site_verification %}
                <meta name="google-site-verification" content="{{ site_setting.google_site_verification }}">
            {% endif %}
        {% endwith %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block seo_meta %}
        {% endblock %}

        {% if not SETTINGS.REACT_DEVSERVER  %}
            {% cache None assets_css 'pipit/build/index.html'|hashed_name %}
                {% extract_elements 'pipit/build/index.html' 'stylesheet' %}
            {% endcache %}
        {% endif %}

        <link rel="stylesheet" href="{% static 'pipit/index.css' %}" type="text/css" />
    </head>
    <body>
        {% block main %}
        {% endblock main %}

        {% if SETTINGS.REACT_DEVSERVER  %}
            <script>document.domain = '{{ REQUEST_DOMAIN }}';</script>
            <iframe src="//{{ REQUEST_DOMAIN }}:{{ SETTINGS.REACT_DEVSERVER_PORT }}/proxy?devserver=1&devserver_domain={{ REQUEST_DOMAIN }}" id="frontend-devserver" style="height: 0; width: 0; border: 0; visibility: hidden;"></iframe>
        {% endif %}

        {% if not SETTINGS.REACT_DEVSERVER  %}
            {% cache None assets_js 'pipit/build/index.html'|hashed_name %}
                {% extract_elements 'pipit/build/index.html' 'script' %}
            {% endcache %}
        {% endif %}

        {% block error_reporting %}
        {% endblock %}

        {% wagtailuserbar %}
        {% react_print %}
    </body>
</html>

