
{% load static %}
{% load react %}
{% load wagtailuserbar %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% with site_setting=settings.sitesettings.SiteSetting %}
            {% if site_setting.gtm_id and not request.is_preview %}
                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{site_setting.gtm_id}}');</script>
                <!-- End Google Tag Manager -->
            {% endif %}

            {% if site_setting.google_site_verification %}
                <meta name="google-site-verification" content="{{ site_setting.google_site_verification }}">
            {% endif %}
        {% endwith %}

        <meta name="description" content="{{ meta_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block seo_meta %}
        {% endblock %}

        <link rel="stylesheet" href="{% static 'pipit/index.css' %}" type="text/css" />
    </head>
    <body>
        {% block main %}
        {% endblock main %}

        <script type="text/javascript" src="{% static 'pipit/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'pipit/index.js' %}"></script>

        {% if SETTINGS.SENTRY_DSN %}
            <script src="https://browser.sentry-cdn.com/5.6.1/bundle.min.js" integrity="sha384-pGTFmbQfua2KiaV2+ZLlfowPdd5VMT2xU4zCBcuJr7TVQozMO+I1FmPuVHY3u8KB" crossorigin="anonymous"></script>
            <script>
            // Ignore list based off: https://gist.github.com/1878283
            var sentryOptions = {
                dns: '{{ SENTRY_DSN }}',
                // Will cause a deprecation warning, but the demise of `ignoreErrors` is still under discussion.
                // See: https://github.com/getsentry/raven-js/issues/73
                ignoreErrors: [
                    // Random plugins/extensions
                    'top.GLOBALS',
                    // See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error.html
                    'originalCreateNotification',
                    'canvas.contentDocument',
                    'MyApp_RemoveAllHighlights',
                    'http://tt.epicplay.com',
                    'Can\'t find variable: ZiteReader',
                    'jigsaw is not defined',
                    'ComboSearch is not defined',
                    'http://loading.retry.widdit.com/',
                    'atomicFindClose',
                    // Facebook borked
                    'fb_xd_fragment',
                    // ISP "optimizing" proxy - `Cache-Control: no-transform` seems to reduce this. (thanks @acdha)
                    // See http://stackoverflow.com/questions/4113268/how-to-stop-javascript-injection-from-vodafone-proxy
                    'bmi_SafeAddOnload',
                    'EBCallBackMessageReceived',
                    // See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx
                    'conduitPage',
                    // Generic error code from errors outside the security sandbox
                    // You can delete this if using raven.js > 1.0, which ignores these automatically.
                    'Script error.'
                ],
                blacklistUrls: [
                    // Facebook flakiness
                    /graph\.facebook\.com/i,
                    // Facebook blocked
                    /connect\.facebook\.net\/en_US\/all\.js/i,
                    // Woopra flakiness
                    /eatdifferent\.com\.woopra-ns\.com/i,
                    /static\.woopra\.com\/js\/woopra\.js/i,
                    // Chrome extensions
                    /extensions\//i,
                    /^chrome:\/\//i,
                    // Other plugins
                    /127\.0\.0\.1:4001\/isrunning/i,  // Cacaoweb
                    /webappstoolbarba\.texthelp\.com\//i,
                    /metrics\.itunes\.apple\.com\.edgesuite\.net\//i
                ]
            };

            Sentry.init(sentryOptions);
            </script>
        {% endif %}

        {% wagtailuserbar %}
        {% react_print %}
    </body>
</html>

