# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Preserve font files
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary

# Preserve img files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
