# docker-compose override for running python with a local interpreter
services:
  web:
    depends_on: []
    environment:
      - PYTHON_HOST=http://host.docker.internal

  python:
    build:
      context: ./src
      dockerfile: Dockerfile_noop
    volumes: []
    depends_on: []

  # if on m1 mac:
  # db:
  #   image: gangstead/postgis:13-3.1-arm
