@mixin media($key) {
    @if $key == 'd' {
        @content;
    } @elseif map-has-key($breakpoints, $key) {
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    } @else {
        @error 'Unfortunately, no value could be retrieved from `#{$breakpoints}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin small {
    @media (min-width: $smallWidth) {
        @content;
    }
}

@mixin medium {
    @media (min-width: $mediumWidth) {
        @content;
    }
}

@mixin large {
    @media (min-width: $largeWidth) {
        @content;
    }
}

@mixin clearfix() {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
