{% raw %}<title>{% firstof page.seo_title page.title %}</title>

{% firstof page.search_description as description %}
{% if desc %}
    <meta name="description" content="{{ description }}">
{% endif %}

{% firstof page.og_title page.title as title %}
{% if title %}
    <meta property="og:title" content="{{ title }}" />
{% endif %}

{% firstof page.og_description as og_description %}
{% if og_description %}
    <meta property="og:description" content="{{ og_description }}" />
{% endif %}

{% firstof page.canonical_link page.full_url as og_url %}
{% if og_url %}
    <meta property="og:url" content="{{ og_url }}" />
{% endif %}

{% with page.get_og_image as og_image %}
    {% if og_image %}
        <meta property="og:image" content="{{ page.get_site.root_url }}{{ og_image }}" />
    {% endif %}
{% endwith %}

{% firstof page.twitter_title page.title as twitter_title %}
{% if twitter_title %}
    <meta property="twitter:title" content="{{ twitter_title }}" />
{% endif %}

{% firstof page.twitter_description as twitter_description %}
{% if twitter_description %}
    <meta property="twitter:description" content="{{ twitter_description }}" />
{% endif %}

{% firstof page.canonical_link page.full_url as twitter_url %}
{% if twitter_url %}
    <meta property="twitter:url" content="{{ twitter_url }}" />
{% endif %}

{% firstof page.twitter_image og_image as twitter_image %}
{% if twitter_image %}
    <meta property="twitter:image" content="{{ page.get_site.root_url }}{{ twitter_image }}" />
{% endif %}

{% if page.canonical_link %}
    <link rel="canonical" href="{{ page.canonical_link }}" />
{% endif %}

<meta name="robots" content="{{ page.robot_noindex|yesno:"noindex,index" }},{{ page.robot_nofollow|yesno:"nofollow,follow" }}">
{% endraw %}
