{
    "presets": ["next/babel"],
    "env": {
        "test": {
            "plugins": ["transform-dynamic-import"]
        }
    },
    "plugins": [
        ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
