
{% load staticfiles %}
{% load react %}
{% load wagtailuserbar %}
{% load raven %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% with site_setting=settings.sitesettings.SiteSetting %}
        {% if site_setting.gtm_id %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{site_setting.gtm_id}}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}
        {% endwith %}

        <title>{{ title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'partials/seo.html' %}

        <link rel="stylesheet" href="{% static 'core/main.css' %}" type="text/css" />
    </head>
    <body>
        {% block main %}
        {% endblock main %}

        <script type="text/javascript" src="{% static 'core/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/main.js' %}"></script>

        {% if SETTINGS.SENTRY_DSN %}
            <script src="https://cdn.ravenjs.com/3.27.0/raven.min.js" crossorigin="anonymous"></script>
            <script>
            Raven.config('{% sentry_public_dsn %}').install();
            </script>
        {% endif %}

        {% wagtailuserbar %}
        {% react_print %}
    </body>
</html>

