{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if SETTINGS.MINIFIED %}
            <link rel="stylesheet" href="{% static 'css/main-min.css' %}?v={{ SETTINGS.APP_VERSION }}" type="text/css" />
        {% else %}
            <link rel="stylesheet" href="{% static 'css/main.css' %}?v={{ SETTINGS.APP_VERSION }}" type="text/css" />
        {% endif %}

        {% if SETTINGS.GTM_ID %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ GTM_ID }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

    </head>
    <body>
        <!-- Browser update -->
        <script type="text/javascript">
            var $buoop = {vs:{i:10,f:-4,o:-4,s:7,c:-4},c:4};
            $buoop.ol = window.onload;
            window.onload=function(){
                try {if ($buoop.ol) $buoop.ol();}catch (e) {}
                var e = document.createElement("script");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src", "//browser-update.org/update.js");
                document.body.appendChild(e);
            }
        </script>

        <header>
            {% block header %}
                {% include 'partials/header.html' %}
            {% endblock header %}
        </header>

        <main>
            {% block main %}
            {% endblock main %}
        </main>

        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>

        {% if SETTINGS.MINIFIED %}
            <script type="text/javascript" src="{% static 'js/main-min.js' %}?v={{ SETTINGS.APP_VERSION }}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'js/main.js' %}?v={{ SETTINGS.APP_VERSION }}"></script>
        {% endif %}


        {% if SETTINGS.SENTRY_DSN %}
            <script src="https://cdn.ravenjs.com/3.12.0/raven.min.js" crossorigin="anonymous"></script>
            <script>
            Raven.config('{{ SETTINGS.SENTRY_DSN }}', {
                whitelistUrls: [
                '{{ SETTINGS.STATIC_URL }}',
                ]
            }).install();
            </script>
        {% endif %}
    </body>
</html>

