{% raw %}<title>{{ seo.seo_html_title }}</title>

{% if seo.seo_meta_description  %}
    <meta name="description" content="{{ seo.seo_meta_description }}">
{% endif %}

{% if seo.seo_og_title %}
    <meta property="og:title" content="{{ seo.seo_og_title }}" />
{% endif %}

{% if seo.seo_og_description  %}
    <meta property="og:description" content="{{ seo.seo_og_description }}" />
{% endif %}

{% if seo.seo_og_url %}
    <meta property="og:url" content="{{ seo.seo_og_url }}" />
{% endif %}

{% if seo.seo_og_image %}
    <meta property="og:image" content="{{ seo.seo_og_image }}" />
{% endif %}

{% if seo.seo_og_type %}
    <meta property="og:type" content="{{ seo.seo_og_type }}" />
{% endif %}

{% if seo.seo_twitter_title %}
    <meta property="twitter:title" content="{{ seo.seo_twitter_title }}" />
{% endif %}

{% if seo.seo_twitter_description %}
    <meta property="twitter:description" content="{{ seo.seo_twitter_description }}" />
{% endif %}

{% if seo.seo_twitter_url %}
    <meta property="twitter:url" content="{{ seo.seo_twitter_url }}" />
{% endif %}

{% if seo.seo_og_image %}
    <meta property="og:image" content="{{ seo.seo_og_image }}" />
{% endif %}

{% if seo.seo_twitter_image %}
    <meta property="twitter:image" content="{{ seo.seo_twitter_image }}" />
{% endif %}

{% if page.canonical_link %}
    <link rel="canonical" href="{{ page.canonical_link }}" />
{% endif %}

<meta name="robots" content="{{ seo.seo_meta_robots }}">

{% endraw %}
