<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>React testing ground</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/devserver.css">
        <link rel="stylesheet" href="${path.posix.join(this.config.publicPath, this.config.outputPathCssFolder)}/index.css">
    </head>
    <body onload="document.documentElement.classList.remove('no-js');">
        <div class="devserver">
            <form class='devserver__themeform' id='devserver__menu'>
                <a href='/' class='devserver__backlink'>Back to listing</a>
                
                <select
                    class='devserver__themeselect'
                    name='componentName'
                    onChange='devFormChangeComponent(this);'
                    >
                    <option disabled>Choose</option>
                    <option disabled>-Containers</option>
                    ${
                        containers.map((comp) => {
                            let selected = componentName === comp ? "selected" : "";
                            return "<option "+selected+">" + comp + "</option>";
                        })
                    }
                    <option disabled>-Components</option>
                    ${
                        components.map((comp) => {
                            let selected = componentName === comp ? "selected" : "";
                            return "<option "+selected+">" + comp + "</option>";
                        })
                    }
                </select>
            </form>
        </div>
        
        <!-- content -->
        
        <script src="/devserver.js"></script>
        <script src="${path.posix.join(this.config.publicPath, this.config.outputPathJsFolder)}/vendor.js"></script>
        <script src="${path.posix.join(this.config.publicPath, this.config.outputPathJsFolder)}/index.js"></script>
        <!-- render -->
    </body>
</html>
