DJANGO_SETTINGS_MODULE=core.settings.prod
ALLOWED_HOSTS=127.0.0.1,localhost,example.com,stage.example.com
SECRET_KEY=generatesecretkeyhere
MEDIA_PATH=/mnt/persist/www/company_project/shared/media
STATIC_PATH=/mnt/persist/www/company_project/current/src/static
DATABASE_NAME=company_project
DATABASE_USER=company_project
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
APP_LOG_DIR=/mnt/persist/www/company_project/logs
SENTRY_DSN=https://XXX:XXX@app.getsentry.com/XXXX
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
REACT_HOST=
