apps:
  - name: {{ project_slug }}
    script: {{ ansistrano_deploy_to }}/current/src/frontend/.next/standalone/server.js
    cwd: {{ ansistrano_deploy_to }}/current/src/frontend/
    exec_mode: cluster
    instances: 0
    max_memory_restart: "350M"
    uid: 'deploy'
    gid: 'www-data'
    env:
      PORT: {{ 3000+(pm2_application_count.stdout|int) }}
      NODE_ENV: production

