
[uwsgi]
vhost = true
plugins = python3
master = true
enable-threads = true
processes = 1
threads = 2
wsgi-file = {{ ansistrano_deploy_to }}/current/src/pipit/wsgi.py
virtualenv = {{ ansistrano_deploy_to }}/shared/venv
chdir = {{ ansistrano_deploy_to }}/current/src
touch-reload = {{ ansistrano_deploy_to }}/reload
memory-report = true
stats = 127.0.0.1:{{ 9190+(uwsgi_application_count.stdout|int) }}

for-readline = {{ ansistrano_deploy_to }}/shared/.env
  env = %(_)
endfor =

# Ignore common noisy errors
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true

