@font-face {
    font-family: roboto-thin;
    src: url('./../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: roboto-bold;
    src: url('./../fonts/roboto/Roboto-Bold.ttf');
}

h1 {
	font-family: roboto-bold;
    font-size: 3rem;
}
