@import 'styles/includes.scss';

.Hero {
    padding: 24px;
    background-color: #250154;

    &__Title {
        color: white;
    }

    &__TitleIcon {
        width: 32px;
        margin-right: 10px;
    }
}
